body, td {
        font-family: Verdana, Arial, Helvetica, sans-serif;
}

b, strong {
        font-weight: 900;
}

.user-message {
        background: white;
        color: inherit;
}

.tableborder {
        background: white;
        color: inherit;
        border: 1px solid;
        border-color: #333333;
}

.tablefilemgr {
        background: white;
        color: inherit;
        border: 1px solid;
        border-color: #333333;
}

.table-row-heading {
        color: white;
        background: royalblue;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: bold;
        text-align: left;
}

.table-row-heading-center {
        color: white;
        background: royalblue;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
}

.table-row-heading-right {
        color: white;
        background: royalblue;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: right;
}

.table-row-heading-left {
        color: white;
        background: royalblue;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
}
.table-data-heading-left {
	background: silver;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold; 
	text-align: left;
}

.table-data-heading-left-top {
	background: silver;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold; 
	text-align: left;
	vertical-align: top;
}

.table-data-heading-center {
	background: silver;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold; 
	text-align: center;
}

.table-data-heading-right {
	background: silver;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold; 
	text-align: right;
}

.table-data-heading-right-top {
	background: silver;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold; 
	text-align: right;
	vertical-align: top;
}
input.text, input.password, select.text {
    font: 12px Arial, sans-serif;
    background: #ffffff;
    color: #000000;
    border: #c0c0c0 1px solid;
    height: 18px;
}

.textarea {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
}

input.small-text-box {
    font: 6px Arial, sans-serif;
    background: #ffffff;
    color: #000000;
    border: #c0c0c0 1px solid;
    height: 6px;
}

input.button {
        background: #e2e2e2;
        color: #333333;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 10px;
        vertical-align: middle;
}

.small-button {
        border: 1px solid;
        border-color: black;
        border-style: solid;
        background: #eeeeee;
        color: black;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 8px;
        text-decoration: none;
        height: 15px;
        vertical-align: middle;
}

input.small-button-green {
        background: #00CC33;
        color: white;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 9px;
        height: 17px;
        width: 60px;
        vertical-align: middle;
}

.small-button-red {
        background: #ff0000;
        color: white;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 9px;
        height: 17px;
        width: 60px;
        vertical-align: middle;
}

.filemgrbutton {
        background: #e2e2e2;
        color: #333333;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 10px;
        padding-left: 5px;
        text-align: left;
        vertical-align: middle;
        width: 150px;
}

.shortrow {
    font: 10px Arial, sans-serif;
    height: 9px;
}

.filerow {
    font: 10px Arial, sans-serif;
    padding-left: 4px;
    height: 9px;
}

.filerowpre {
    font: 11px Courier, monospace;
    padding-left: 4px;
    height: 9px;
}

.rowchecked {
    background: silver;
    color: inherit;
}

.rowunchecked {
    background: #eeeeee;
    color: inherit;
}

.footer {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 9px;
        color: #666666;
        text-decoration: none;
}

.footer a:active {
        color: #3553A9;
}

.footer a:hover {
        color: #3553A9;
        text-decoration: underline;
}

.invalid {
  background-color:     #D23D24;
  color:                white;
}

li.msg_info span.err_type {
  background-color: #888;
  padding: .1em .5em;
  color: white;
  font-size: smaller;
}

li.msg_warn span.err_type {
  padding: .1em .5em;
  background-color: #FA9084;
  color: #333;
  font-size: smaller;
}

li.msg_err span.err_type {
  padding: .1em .5em;
  background-color: #D23D24;
  color:white;
  font-size: smaller;
}

code.input {
  margin-bottom: 2ex;
}

code.input strong {
  color: red;
  padding-left: .5ex;
  padding-right: .5ex;
  font-weight: bolder;
}

.news-date {
        color: white;
        background: darkgoldenrod;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-align: left;
        vertical-align: top;
	text-decoration: none;
}
.news-title {
        color: white;
        background: royalblue;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-align: left;
	padding-left: 15px;
	text-decoration: none;
	a:link {text-decoration: none;}
	a:visited {text-decoration: none;}
	a:active {text-decoration: none;}
	a:hover {text-decoration: underline; color: red;}
}
.news-title a:link {color:white;text-decoration: none}
.news-title a:visited {color:white;text-decoration: none}
.news-title a:active {color:white;text-decoration: none}
.news-title a:hover {color:red;text-decoration: none}

.dns-yes {
        color: white;
        background: green;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: bold;
        text-align: left;
        vertical-align: top;
	text-decoration: none;
}
.dns-no {
        color: white;
        background: red;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: bold;
        text-align: left;
        vertical-align: top;
	text-decoration: none;
}

td.info {
    position:relative; /*this is the key*/
    z-index:24;
    color:#000;
    text-decoration:none;
}

td.info:hover {
    z-index:25;
    background-color:#ff0;
}
td.info span {
	display: none;
}

td.info:hover span { /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:20px;
    left:20px;
    padding: 2px 2px 2px 2px;
    border:1px solid #0cf;
    background-color:#cff;
    color:#000;
    font-weight:bold;
}

