td.info,th.info{
    position:relative; /*this is the key*/
    color:#000;
    text-decoration:none;
    -webkit-print-color-adjust:exact;
}

td.info:hover,th.info:hover {
    z-index:25;
    background-color:#ff0;
}
td.info span,th.info span {
	display: none;
}

td.info:hover span,th.info:hover span { /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:20px;
    left:20px;
    padding: 1px 1px 1px 1px;
    border:1px solid #0cf;
    background-color:#cff;
    color:#000;
    font-weight:bold;
    white-space:nowrap;
    text-align:left;
}

#header-menu-wrap{
	background: #2982C5;
	background: -moz-linear-gradient(#84b9f9, #2982C5);
	background: -webkit-linear-gradient(#84b9f9, #2982C5);
	background: -o-linear-gradient(#84b9f9, #2982C5);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#84b9f9', EndColorStr='#2982C5')";
	background: linear-gradient(#84b9f9, #2982C5);
}
#header-menu > li:hover,#header-menu > li.current-menu-item,#header-menu > li.current-menu-ancestor{
	background: #2982C5;
	background: -moz-linear-gradient(#eee, #2982C5);
	background: -webkit-linear-gradient(#eee, #2982C5);
	background: -o-linear-gradient(#eee, #2982C5);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eee', EndColorStr='#2982C5')";
	background: linear-gradient(#eee, #2982C5);
}
#header-menu > li:hover > a, #header-menu > li.current-menu-item > a, #header-menu > li.current-menu-ancestor > a {
	color: #ffffff
}
#header-menu ul li:hover,#header-menu ul li.current-menu-item,#header-menu ul li.current-menu-ancestor,.primary-menu-preview.dropdown ul li.current-menu-item,.primary-menu-preview.dropdown ul li.current-menu-ancestor{
	background: #2982C5;
	background: -moz-linear-gradient(#fdfdfd, #2982C5);
	background: -webkit-linear-gradient(#fdfdfd, #2982C5);
	background: -o-linear-gradient(#fdfdfd, #2982C5);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdfdfd', EndColorStr='#2982C5')";
	background: linear-gradient(#fdfdfd, #2982C5);
}
#footer{
	background-color:#1f6eb6;
	color:#999;
}
.header_title, .header_title a, .header_title a:visited, .header_title a:hover, .header_desc {
	color:#090fa3;
}
#header .header_title{
	font-family:arial;
	font-size:18;
	font-weight:700;
}
#header{
	height:80px
}
.container_16 {
	width:960px;
}
.container_16 .grid_11{
	width:640px;
}
.container_16 .push_1{
	left:20px;
}
.header-img {
	! margin-left: -512px;
}
#content-main, .container_16 #comments {
	width:940px;
}
body.custom-background {
	background-image: url('/images/vampire_launch.jpg');
	background-repeat: repeat;
	background-position: top left;
	background-attachment: fixed;
}
html {
	margin-top: 10px !important;
}
* html body {
	margin-top: 10px !important;
}
#googleMap {
	line-height:normal;
}
#googleMap img{
	max-width: inherit;
}
#infowin {
	padding: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	overflow:hidden;
}
#f3choice {
	height: 20px;
	width: 25px;
	background-image: #2982c5;
	box-shadow: #555555;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	
	border-top-width: 1px;
	border-right-width-value: 1px;
	border-bottom-width: 1px;
	border-left-width-value: 1px;
	border-top-style: solid;
	border-right-style-value: solid;
	border-bottom-style: solid;
	border-left-style-value: solid;
	border-top-color: #1c5fa5;
	border-right-color-value: #1c5fa5;
	border-bottom-color: #1c5fa5;
	border-left-color-value: #1c5fa5;
	border-image-source: none;
	border-image-slice: 100% 100% 100% 100%;
	border-image-width: 1 1 1 1;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	color: #090fa3;
	cursor: pointer;
	display: block;
	float: right;
	font-family: "Pontano Sans",arial,sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: normal;
	font-size-adjust: none;
	font-stretch: normal;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	padding-top: 1px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 4px;
	position: relative;
	text-shadow: #16497e;
	bottom: 30%;
}
.fixed-ratio-resize { /* basic responsive img */
	max-width: 100%;
	height: auto;
	width: auto\9; /* IE8 */
}
h2.heading {
	white-space: nowrap;
	display: inline-block;
	color: #2982C5;
}
table.filter {
	padding: 5px;
	border: 1px solid black;
}
table.filter th {
	padding: 5px;
	background-color: lightgray;
}table.filter td {
	padding: 5px;
}