* {
   margin: 0px;
   padding: 0px;
}
html, body {
	height: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    background: #0A539C;
    overflow: hidden;
}
#global-nav {
	height: 36px;
	postion: absolute;
	padding-left: 8px;
	top: 0px;
	width: auto;
}
#container, footer
{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7acef4;
//  background-color: #0769ad;
}
#f3choice-main {
	height: 34px;
	color: #ffffff;
	font-family: "Pontano Sans",arial,sans-serif;
	font-weight:700;
	font-size: 24px;
	text-shadow: white 0px 1px 0px;
}


.embossed, .embossed a {
	color: white;
	text-shadow: 0px 1px 0px #999,
		0px 2px 0px #888,
		0px 8px 7px #001135;
	font-family: "Palatino",arial,sans-serif;
	font: 28px "Palatino Sans";
	text-decoration: none;
}
#splash-title {
	margin-left: 50px;
}
.embossed-title, .embossed-title a {
	color: white;
	text-shadow: 0px 1px 0px #999,
		0px 2px 0px #888,
		0px 8px 7px #001135;
	font-family: "Palatino",arial,sans-serif;
	font: 64px "Palatino Sans";
	text-decoration: none;
}
.embossed a:hover {
	color: grey;
}
.embossed-nav {
	color: white;
	text-shadow: 0px 1px 0px #999,
		0px 2px 0px #888,
		0px 8px 7px #001135;
	font-family: "Palatino",arial,sans-serif;
	font: 28px "Palatino Sans";
	float:left;
	margin-right:auto;
	margin-left: 5px;
}
.embossed-nav-selected {
	color: white;
	text-shadow: 0px 1px 0px #999,
		0px 2px 0px #888,
		0px 8px 7px #001135;
	font-family: "Palatino",arial,sans-serif;
	font: 28px "Palatino Sans";
	float:left;
	margin-right:auto;
	margin-left: 5px;
}


