* {
   margin: 0px;
   padding: 0px;
}
html, body {
	height: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    background: #0A539C;
    overflow: hidden;
}
#global-nav {
	height: 36px;
	postion: absolute;
	padding-left: 8px;
	top: 0px;
	width: auto;
}
#container, footer
{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7acef4;
//  background-color: #0769ad;
}
#f3choice-main {
	height: 34px;
	color: #ffffff;
	font-family: "Pontano Sans",arial,sans-serif;
	font-weight:700;
	font-size: 24px;
	text-shadow: white 0px 1px 0px;
}

.depth {
    display: block;
    padding-top: 20px;
    padding-left: 40px;
	color: white;
    font: bold 80px Arial, sans-serif;
    position: relative;
}

.depth:before, .depth:after {
    content: attr(title);
    padding-top: 20px;
	padding-left: 40px;
    color: rgba(255,255,255,.3);
    position: absolute;
}

.depth:before { top: 1px; left: 1px }
.depth:after  { top: 2px; left: 2px }

.embossed2 {
	color: white;
	text-shadow: 0px 1px 0px #999,
		0px 2px 0px #888,
		0px 8px 7px #001135;
	font-family: "Palatino",arial,sans-serif;
	font: 28px "Palatino Sans";

}
.embossed-nav {
	color: white;
	text-shadow: 0px 1px 0px #999,
		0px 2px 0px #888,
		0px 8px 7px #001135;
	font-family: "Palatino",arial,sans-serif;
	font: 28px "Palatino Sans";
	float:left;
	margin-right:auto;
	margin-left: 5px;
}

.dark-on-light{
	background:#eee;
	color:#223;
	text-shadow:0 -1px 0 rgba(0,0,0,0.15),0 1px 0 rgba(255,255,255,0.8)
}
.light-on-dark{
	background:#223;
	color:#eee;
    font: 28px 'Palatino';
	text-shadow:0 -1px 0 rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.4)
}

